# Copyright (c) 2016, nubia. All rights reserved.
#
# init.nb.rc
# For all nubia projects defined in device/zte

on init
    export LD_SHIM_LIBS "/system/lib/libNubiaImageAlgorithm.so|/system/lib/libshim_camera.so:/system/lib/libNubiaImageAlgorithmBSP.so|/system/lib/libshim_camera.so:/system/bin/mm-qcamera-daemon|libshim_libc.so"

service gx_fpd /system/bin/gx_fpd
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    writepid /dev/cpuset/system-background/tasks